<h1>Review for <%= @restaurant.name %><h1>

<div class="address">address : <%= @restaurant.street_address %> <br/>
  city / state / zip : <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %> <br/>
  site / phone : <%= @restaurant.site %> / <%= @restaurant.phone_number %>
</div>

<div class="review_date">
  review date : <%= @restaurant.review_date %>
</div>

<div class="headline">
  Scores:
</div>

<div class="lists">
  meat doneness: <%= @reviews.average(:meat_done) %> <br/>
  meat flavor: <%= @reviews.average(:meat_flavor) %><br/>
  bun: <%= @reviews.average(:bun) %><br/>
  toppings: <%= @reviews.average(:toppings) %><br/>
  sides: <%= @reviews.average(:sides) %><br/>
  presentation: <%= @reviews.average(:presentation) %><br/>
  service: <%= @reviews.average(:service) %><br/>
  atmosphere: <%= @reviews.average(:atmosphere) %><br/>
</div>

<div class="headline">
  Comments:
</div>

<div class="lists">
  <ul>
    <% @reviews.each do |review| %>
      <li><%= review.comment %></li>
    <% end %>
  </ul>
</div>
