<h1>Review for <%= @restaurant.name %><h1>

<div class="address">address : <%= @restaurant.street_address %> <br/>
  city / state / zip : <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %> <br/>
  site / phone : <%= @restaurant.site %> / <%= @restaurant.phone_number %>
</div>

<div class="review_date">
  review date : <%= @restaurant.review_date %>
</div>

<div class="headline">
  Scores:
</div>

<div class="lists">
  <!-- TODO truncate averages to tenths -->
  meat doneness: <%= average_format(@reviews.average(:meat_done)) %> <br/>
  meat flavor: <%= average_format(@reviews.average(:meat_flavor)) %><br/>
  bun: <%= average_format(@reviews.average(:bun)) %><br/>
  toppings: <%= average_format(@reviews.average(:toppings)) %><br/>
  sides: <%= average_format(@reviews.average(:sides)) %><br/>
  presentation: <%= average_format(@reviews.average(:presentation)) %><br/>
  service: <%= average_format(@reviews.average(:service)) %><br/>
  atmosphere: <%= average_format(@reviews.average(:atmosphere)) %><br/>
</div>

<div class="headline">
  Comments:
</div>

<div class="lists">
  <ul>
    <!-- TODO add bullets, no idea why they are not showing up -->
    <!-- TODO make this div about 800 px wide to wrap text  -->
    <% @reviews.each do |review| %>
      <li><%= review.comment %></li>
    <% end %>
  </ul>
</div>
